@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.container {
  display: flex;
  padding: 0 35px;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

li.card.active {
  background-position: center;
  background-size: contain;
  transition-duration: 0ms;
  transform-style: preserve-3d;
  padding: 0px !important;
  transform: translate3d(0px, 0px, -200px) rotateX(0deg) rotateY(0deg) scale(1);
}

li.card.active .img {
  border-radius: 20px 0px 20px 0px;
}

li.card.left-inactive {
  height: 350px;
  width: 350px;
  transform-style: preserve-3d;
  transform: translate3d(0px, 0px, 200px) perspective(1000px) rotateY(20deg)
    scale(1);
  transition: all 0.1s;
}

li.card.right-inactive {
  height: 350px;
  width: 350px;
  transform-style: preserve-3d;
  transform: translate3d(0px, 0px, -200px) perspective(1000px) rotateY(-20deg)
    scale(1);
  transition: all 0.1s;
}

li.card.left-inactive .img {
  -webkit-box-reflect: below 1px
    linear-gradient(transparent, transparent, #0006);
}

li.card.right-inactive .img {
  -webkit-box-reflect: below 1px
    linear-gradient(transparent, transparent, #0006);
}

li.card .img {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.wrapper {
  max-width: 1100px;
  width: 100%;
  position: relative;
}

.wrapper i {
  top: 50%;
  height: 50px;
  width: 50px;
  cursor: pointer;
  font-size: 1.25rem;
  position: absolute;
  text-align: center;
  line-height: 50px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
  transform: translateY(-50%);
  transition: transform 0.1s linear;
  z-index: 999;
}

.wrapper i:active {
  transform: translateY(-50%) scale(0.85);
}

.wrapper i:first-child {
  left: -22px;
}

.wrapper i:last-child {
  right: -22px;
}

.wrapper .carousel {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 3) - 12px);
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 16px;
  border-radius: 8px;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

.carousel::-webkit-scrollbar {
  display: none;
}

.carousel.no-transition {
  scroll-behavior: auto;
}

.carousel.dragging {
  scroll-snap-type: none;
  scroll-behavior: auto;
}

.carousel.dragging .card {
  cursor: grab;
  user-select: none;
}

.carousel :where(.card, .img) {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel .card {
  scroll-snap-align: start;
  height: 342px;
  list-style: none;
  background: #fff;
  cursor: pointer;
  padding-bottom: 15px;
  flex-direction: column;
  border-radius: 8px;
}

.carousel .card {
}

.carousel .card .img {
  height: 350px;
  width: 350px;
  background-size: cover;
  object-fit: cover;
}

.carousel .card h2 {
  font-weight: 500;
  font-size: 1.56rem;
  margin: 30px 0 5px;
}

.carousel .card span {
  color: #6a6d78;
  font-size: 1.31rem;
}
@media screen and (max-width: 600px) {
  .wrapper .carousel {
    grid-auto-columns: 100%;
  }
  li.card.active {
    background-position: center;
    background-size: contain;
    transition-duration: 0ms;
    transform-style: preserve-3d;
    padding: 0px !important;
    transform: translate3d(0px, 0px, -200px) rotateX(0deg) rotateY(0deg)
      scale(1);
  }

  li.card.active .img {
    border-radius: 20px 0px 20px 0px;
  }

  li.card.left-inactive,
  li.card.right-inactive {
    background-position: center;
    background-size: contain;
    transition-duration: 0ms;
    transform-style: preserve-3d;
    padding: 0px !important;
    transform: translate3d(0px, 0px, -200px) rotateX(0deg) rotateY(0deg)
      scale(1);
  }

  li.card.left-inactive .img,
  li.card.right-inactive .img {
    border-radius: 20px 0px 20px 0px;
  }
}
